@tailwind base;

@layer base {
  p {
    @apply text-pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
}

@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00040b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #42e1dd;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #52dfae;
}
