---
import Layout from "@layouts/Layout.astro";
import imageAdmins from "@images/admins.jpg";
import { Image } from "astro:assets";
---

<Layout title="Admins">
  <main class="container mx-auto mt-6 space-y-6 px-4">
    <h1 class="text-3xl font-bold">Admins Magellan</h1>
    <div class="float-right pb-6 lg:w-1/2 lg:pl-6">
      <Image
        class="rounded-lg border-4 border-primary"
        src={imageAdmins}
        alt="Admins Magellan"
      />
    </div>
    <section class="space-y-2 text-lg">
      <p>
        <strong>
          Les Admins Magellan sont des étudiants motivés qui souhaitent
          s'impliquer dans la vie étudiante et contribuer au rayonnement du
          Magellan. Ils sont essentiels au bon fonctionnement du Magellan et à
          la réussite de ses événements et projets.
        </strong>
      </p>
      <p>
        Si vous êtes intéressé à devenir Admin Magellan, n'hésitez pas à
        contacter le comité du Magellan pour en savoir plus sur les
        responsabilités et les avantages associés à ce rôle. Rejoignez les
        Admins Magellan et participez à l'aventure du Magellan !
      </p>
    </section>
    <section class="space-y-2">
      <h2 class="text-xl font-bold">Rôle:</h2>
      <ul class="ml-4 list-['-_']">
        <li>Participe aux réunions Admins</li>
        <li>
          Aide le comité avant et durant les événements organisés par le
          Magellan (exemple: Game, BGT, ...)
        </li>
        <li>Participe aux projets du Magellan</li>
        <li>Surveillance du local Houdain 06</li>
      </ul>
    </section>
    <section class="space-y-2">
      <h2 class="text-xl font-bold">Avantages:</h2>
      <ul class="ml-4 list-['-_']">
        <li>Badge d'accès au 500</li>
        <li>Avantages/rémunération en tickets durant lesdits événements</li>
        <li>Souper admin et rencontre avec les anciens</li>
        <li>Formations en réseau</li>
        <li>Team buildings organisés par le comité</li>
        <li>Éligibilité au rôle de Délégame</li>
        <li>Accès au Discord</li>
        <li>Accès au Drive Admins Magellan</li>
      </ul>
    </section>
  </main>
</Layout>
