---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "@images/isow-game22.jpg";
---

<Layout title="Accueil">
  <section class="relative h-[calc(100vh-100px)] md:h-[60vh]">
    <Image
      class="-z-10 h-full object-cover"
      src={heroImage}
      alt="Ambiance au Game"
      quality={30}
      width={1920}
      height={1280}
      format="webp"
    />
    <div
      class="absolute inset-0 mx-auto flex max-w-7xl items-center px-4 py-16"
    >
      <div class="w-5/6 space-y-6 text-lg drop-shadow-normal md:w-1/2">
        <h1 class="text-4xl font-bold">
          Le Cercle informatique de la Faculté Polytechnique de Mons
        </h1>

        <p>
          Découvrez le Cercle informatique de la Faculté Polytechnique de Mons,
          une association étudiante qui a pour but de promouvoir l'informatique
          et les technologies de l'information auprès des étudiants.
        </p>
      </div>
    </div>
  </section>
</Layout>
