---
import FooterLinks from "@components/FooterLinks.astro";

import logoMagellan from "@images/logo-magellan-outline.png";
import { Image } from "astro:assets";

const links = [
  {
    name: "Instagram",
    url: "https://www.instagram.com/cercle_magellan_fpms/",
    type: "INSTAGRAM",
  },
  {
    name: "Page Facebook",
    url: "https://www.facebook.com/CercleMagellan/",
    type: "FACEBOOK",
  },
  {
    name: "fpms.magellan@umons.ac.be",
    url: "mailto:fpms.magellan@umons.ac.be",
    type: "EMAIL",
  },
];
---

<footer
  class="z-10 mt-6 bg-gradient-to-r from-primary to-secondary pt-1 text-sm text-white"
  transition:animate="none"
>
  <div class="bg-dark">
    <div
      class="container mx-auto flex flex-col gap-4 px-4 py-8 md:grid md:grid-cols-[repeat(3,_1fr)_auto]"
    >
      <div>
        <h4 class="mb-4 mt-0 font-semibold">Réseaux sociaux</h4>
        <ul class="flex flex-col gap-2">
          <FooterLinks links={links} />
        </ul>
      </div>
      <div class="h-[2px] rounded-full bg-white md:hidden"></div>
      <div>
        <h4 class="mb-4 mt-0 font-semibold">Comité Magellan 186</h4>
        <ul class="flex flex-col gap-2">
          <li>Kevin Dubrulle</li>
          <li>Hugo Lorenzoni</li>
          <li>Lucy Bogaert</li>
        </ul>
      </div>
      <div class="h-[2px] rounded-full bg-white md:hidden"></div>

      <div>
        <h4 class="mb-4 mt-0 font-semibold">© Site développé par</h4>
        <ul class="flex flex-col gap-2">
          <li>Hugo Lorenzoni</li>
        </ul>
      </div>
      <div class="h-[2px] rounded-full bg-white md:hidden"></div>

      <Image
        src={logoMagellan}
        alt="Logo Cercle Magellan FPMs"
        class="max-w-64"
      />
    </div>
  </div>
</footer>
