---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<a
  class="relative px-1 py-1 after:absolute after:bottom-0 after:left-0 after:z-50 after:h-[3px] after:w-0 after:rounded-full after:bg-current after:duration-500 hover:after:w-full"
  href={href}
>
  {title}
</a>
